@supports(-webkit-text-security:circle){ 
h1{
font-weight:500
}
h2{
font-weight:500
}
h3{
font-weight:500
}
.dropdown-content a{
font-weight:300;opacity:.75
}
nav{font-weight:500
}
#container{
width:100%;overflow-x:hidden
}
html,body,#container{
-webkit-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0)
}
}
html,body,#container{
-moz-backface-visibility:hidden;transform:rotateX(0deg);transform:translate3d(0,0,0);
}
#star:hover{
animation-name:rotate;animation-duration:12s;animation-iteration-count:infinite;animation-timing-function:linear
}
@font-face{
font-family:"mik";src:url('../fonts/MiKrollFantasy.ttf')
}
.mik{
font-family:"mik"
}
@font-face{
font-family:"stitch";src:url('../fonts/stitchwarriordemo.ttf')
}
.stitch{
font-family:"stitch"
}
a:link{
color:yellow;text-decoration:none;font-family:"stitch"
}
a:visited{
color:yellow;background-color:transparent;text-decoration:none;font-family:"stitch"
}
a:hover{
color:yellow;background-color:transparent;text-decoration:none;font-family:"stitch";height:100%;width:100%
}
a:active{
color:yellow;background-color:transparent;text-decoration:none;font-family:"stitch"
}
body{
font-size:16px;color:#dcdbd6;background-color:#061240;background-image:url(../images/BACKGROUNDSb.png);background-position:top;background-repeat:no-repeat;background-size:auto;image-rendering:-webkit-optimize-contrast;background-attachment:fixed;height:100vh
}
h1{
text-align:center;font-size:2rem;font-family:stitch;word-spacing:-9.5px;-webkit-text-stroke-width:.07px;-webkit-text-stroke-color:yellow
}
h2{
text-align:left;padding-left:85px;font-family:stitch;-webkit-text-stroke-width:.07px;-webkit-text-stroke-color:yellow
}
h3{
text-align:left;padding-left:85px;font-family:stitch;-webkit-text-stroke-width:.07px;-webkit-text-stroke-color:yellow
}
#content{
padding:5px;column-width:33em;text-align:justify;color:#FFF;margin-bottom:-70px;position:relative;top:-110px; 
}
#container{
width:950px;padding:0;margin:0 auto;background-clip:border-box;background-color:#1e4aad;background-origin:padding-box;background-repeat:repeat;border:2px solid yellow;text-align:left;opacity:.77;
}
/*#container2{
width:950px;padding:0;margin:0 auto;background-clip:border-box;background-color:rgba(30, 74, 173,.77);background-origin:padding-box;background-repeat:repeat;border:2px solid yellow;text-align:left;margin-top:5px;
}*/
#banner{
background-image:url(../images/banner2222.png);background-repeat:no-repeat;background-size:cover;/*height:195px;width:468px;*/ margin:0 auto;/*border:2px solid #fdeae8;*/ margin-top:10px
}
p{
width:33em;text-align:justify;padding-left:85px
}
hr{
width:935px;border:1px solid #121bda;border-radius:1px;float:left
}
#footer_nav{
width:auto;line-height:14px
}
li{
padding:5px 5px
}
ul{
list-style:none;display:flex;justify-content:center;padding-left:10px
}
nav{
margin-bottom:0;padding:55px;padding-left:80px;height:45px;position:relative;top:-57px;background-position:center;background-repeat:no-repeat;background-size:700px 85px
}

#vincini{
 padding-left:10px;
 padding: 25px;
}

.button1{
display:inline-block;padding:.35em 1.2em;border:.1em solid gold;margin:0 .3em .3em 0;border-radius:.12em;box-sizing:border-box;text-decoration:none;text-align:center;background-color:black;background-position:left;font-family:stitch;font-size:.98em;color:#121bda;-webkit-text-stroke-width:.25px;-webkit-text-stroke-color:yellow;font-size:1.25em;border-radius:8px;cursor:pointer;
}
.button1:hover{
background-color:#101010;position:relative;background-repeat:no-repeat;background-position:left;background-size:contain;-webkit-text-stroke-width:.33px;-webkit-text-stroke-color:yellow;opacity:.77
}
#button1{
background-image:url(../images/Character.png);background-repeat:no-repeat;background-size:124px 48px;height:48px;width:124px;background-size:100%;background-size:124px 48px
}
#button1:hover{
background-image:url(../images/Character1.png)
}
#button2{
background-image:url(../images/equipment.png);background-repeat:no-repeat;background-size:124px 48px;height:48px;width:124px;background-size:100%;background-size:124px 48px
}
#button2:hover{
background-image:url(../images/equipment1.png)
}
#button3{
background-image:url(../images/events.png);background-repeat:no-repeat;background-size:124px 48px;height:48px;width:124px;background-size:100%;background-size:124px 48px
}
#button3:hover{
background-image:url(../images/events1.png)
}
#button4{
background-image:url(../images/factions.png);background-repeat:no-repeat;background-size:124px 48px;height:48px;width:124px;background-size:100%;background-size:124px 48px
}
#button4:hover{
background-image:url(../images/factions1.png)}#button5{background-image:url(../images/lore.png);background-repeat:no-repeat;background-size:124px 48px;height:48px;width:124px;background-size:100%;background-size:124px 48px
}#button5:hover{
background-image:url(../images/lore1.png)}#button6{background-image:url(../images/world.png);background-repeat:no-repeat;background-size:124px 48px;height:48px;width:124px;background-size:100%;background-size:124px 48px
}
#button6:hover{
background-image:url(../images/world1.png)
}
.dropbtn{
background-color:#101010;border:1px solid black;padding:.35em 1.2em;transition:all .7s;font-family:stitch;-webkit-text-stroke-width:.33px;-webkit-text-stroke-color:white
}
.dropdown{
position:relative;display:inline-block;font-family:stitch;-webkit-text-stroke-width:.33px;-webkit-text-stroke-color:white
}
.dropdown-content{
display:none;position:absolute;background-color:#06123f;min-width:160px;box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);z-index:1;font-family:stitch;-webkit-text-stroke-width:.33px;-webkit-text-stroke-color:white;border:.1em solid gold;border-radius:15px;margin:-4px -4px;width:100%;line-height:20px
}
.dropdown-content a{
color:#121bda;padding:8px 8px;text-decoration:none;display:block;font-family:stitch;-webkit-text-stroke-width:.33px;-webkit-text-stroke-color:yellow;word-spacing:-5.5px;display:block;width:100%;height:100%;margin:-4px -4px
}
.dropdown-content a:hover{
background-repeat:no-repeat;background-position:left;background-size:contain;opacity:.47;width:100%;height:100%;transition-delay:250ms;margin:-4px -4px
}
.dropdown:hover .dropdown-content{
display:block
}
.dropdown:hover .dropbtn{
background-color:#06123f
}
#sidebar{
float:right;background-repeat:no-repeat;background-size:contain
}
header{
height:160px;padding-left:5px
}
#logo{
position:relative;right:-20px;bottom:200px;width:270px;margin-top:10px
}
#logo:hover{
background:url(../images/2000px-star_polygon_12-5-svg33.png) no-repeat;position:relative
}
#logo:hover{
position:relative
}
#logo p{
font-family:stitch;position:relative;bottom:15px;right:95px;font-size:1.5em;-webkit-text-stroke-width:.08px;-webkit-text-stroke-color:yellow
}
footer{
margin:0;width:950px;margin-top:10px;margin-left:475px;color:#06123f;padding-top:20px;opacity:.77;background-clip:border-box;background-color:#1e4aad;background-image:none;background-origin:padding-box;background-repeat:repeat;background-size:auto;position:relative;top:-5px;display:table;text-align:center;margin-left:auto;margin-right:auto;border:2px solid yellow
}
img#osr{
width:80px;height:80px;float:left;position:relative;left:50px;top:-8px
}
#footer_nav{
margin-top:20px;width:auto;line-height:14px;padding-left:15px;padding-right:95px;list-style:none;display:flex;justify-content:center;text-decoration:none
}
#top-button{
margin-left:750px;position:relative;bottom:66px
}
#top-button:hover{
opacity:.3
}
.foothov:hover{
opacity:.3
}
.tooltip{
position:relative;display:inline-block;color:yellow;cursor:pointer
}
.tooltip .tooltiptext{
visibility:hidden;width:500px;height:15px;background-color:#1e4aad;color:white;text-align:center;padding:8px 8px 8px 8px;position:absolute;z-index:1;bottom:150%;left:150%;margin-left:-280px;border:10px solid pink;border-image:url(../images/borderbox1.png);border-image-slice:10;border-image-width:1;border-image-outset:1;border-image-repeat:round;transition-delay:.2s
}
.tooltip:hover .tooltiptext{
visibility:visible;cursor:pointer
}
.tooltip:hover{
color:white
}
.bordered-box{
border:30px solid pink;height:40vh;border-image:url(../images/borderbox1.png);border-image-slice:20;border-image-width:20;border-image-outset:1;border-image-repeat:round;
}